header .logo img{
    max-height: 100%;
    position: absolute;
    z-index: 10;
}

header .mobile-logo img{
    width: auto;
    max-height: 80px;
}

footer .footer-widget img{
    width:auto;
    max-height:100px;
}


footer .footer-logo img{
    width:30em;
    max-height: 100%;
}